html {
    background:url(https://raw.githubusercontent.com/TomKnn/EindopdrachtMoodAndFood/master/assets/backgroundFinal.png) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    /*overflow: hidden;*/
}
.logo {
    position: absolute;
    max-width:48%;
    height: auto;
    width: auto;
    top: 8%;
    left: 48%;
    opacity: 90%;
    z-index: 2;
}
.olive{
    position: absolute;
    max-width:17%;
    height: auto;
    width: auto;
    top: 25%;
    left: 73%;
    z-index: 2;
}

.pink{
    position:absolute ;
    max-height: 195px;
    height:auto;
    width: auto;
    top: 46%;
    left: 26%;
    opacity: 20%;
}
.contactAdres{
    position:absolute ;
    max-width: 25%;
    top: 59%;
    left: 40%;
    transform: translate(-50%, -50%);
    opacity: 80%;
}
.copyright2022{
    position: absolute;
    max-width: 10%;
    height: auto;
    width: auto;
    left: 6%;
    top: 90%;
    opacity: 50%;
    z-index: 2;
}
.copyrightMoodAndFood{
    position: absolute;
    max-width: 14%;
    height: auto;
    width: auto;
    left: 42%;
    top: 91%;
    opacity: 50%;
    z-index: 2;

}
.copyrightDesign{
    position: absolute;
    max-width: 12%;
    height: auto;
    width: auto;
    left: 81%;
    top: 89%;
    opacity: 50%;
    z-index: 2;
}
.balk{
    position: absolute;
    max-height: 11%;
    height: auto;
    width: auto;
    left: 5%;
    top: 88%;
    opacity: 40%;
    z-index: 2;
}
