html {
    background:url(https://raw.githubusercontent.com/TomKnn/EindopdrachtMoodAndFood/master/assets/backgroundFinal.png) no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}
.logo {
    position: absolute;
    max-width: 18%;
    width: auto;
    height: auto;
    top: 100px;
    left: 31px;
    z-index: 2;
}
.olive{
    position: absolute;
    max-width:19%;
    height: auto;
    width: auto;
    top: 36%;
    left: 1%;
    z-index: 2;
}
.enjoy{
    position: absolute;
    max-width:15%;
    rotation:30grad;
    height:auto;
    width: auto;
    left:19%;
    top: 41%;
    z-index: 2;
}
.block{
    position: absolute;
    max-width: 20%;
    height:auto;
    width: auto;
    top: -1%;
    left: 1%;
    opacity: 70%;
    z-index: -1;
}
.howToBig{
    position: absolute;
    max-width: 23%;
    height:auto;
    width: auto;
    left:23%;
    top:24%;
}
.tekst {
    position: absolute;
    max-width: 68%;
    height: auto;
    width: auto;
    opacity: 90%;
    left: 22%;
    top: 37%;
}
.emojis{
    position: absolute;
    max-width: 48%;
    height:auto;
    width: auto;
    left:34%;
    top: 40%;
    z-index: 2;
}
.kader{
    position: absolute;
    max-width: 73%;
    height:auto;
    width: auto;
    left:20%;
    top: 42%;
}
